# Python byte-compiled / optimized / DLL files:
__pycache__/
*.py[cod]

# Python build files:
*.egg-info/

# MATLAB autosave files:
*.asv

# Doc files created by python scripts:
sphinx/source/_generated

# Log files produced by Run_Nucleus_tests:
# We ignore most of them, but unignore those used to create release reports:
matlab/test_out/*
# 5.1.4:
!matlab/test_out/result_20250610_*.log
# 5.1.5:
!matlab/test_out/result_20251002_*.log

# Sphinx-built doc files:
build/
matlab/html/
*.mltbx
matlab/Sound_voc
